<div class="d-flex p-3 my-3 text-white-50 rounded box-shadow dashboard-title">
   <div class="lh-100">
       <h6 class="mb-0 text-white lh-100">Todo list</h6>
       <div class="mt-1"></div>
   </div>
</div>
<div>
   <button class="btn btn-secondary" routerLink="/todoAdd"> + Add Todo</button>
</div>
<div class="my-3 p-3 bg-white rounded box-shadow">
   <h6 class="border-bottom border-gray pb-2 mb-0">Todos</h6> 
   <div class="media text-muted pt-3" *ngFor="let todo of todos">
       <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
       <strong class="d-block text-gray-dark">{{ todo.payload.doc.data().date.toMillis() | date:'dd.MM.yyyy HH:mm:ss' }} </strong>
       {{ todo.payload.doc.data().title }}
       </p>
       <div *ngIf="todo.payload.doc.data().status">
           <button class="btn btn-success btn-sm" (click)="updateToDo(todo.payload.doc.id)">Done</button>
       </div>
   </div>
</div>