<div>
  <nav class="navbar navbar-expand-lg navbar-light text-white">
      <a class="navbar-brand text-white" routerLink="/home">TodoList</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="home">Home</a>
          <a class="nav-item nav-link" routerLink="todoList">Todo's</a>
        </div>
      </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>